<div class="navigation">
  <% last_month = @date.last_month %>
  <% next_month = @date.next_month %>

  <%= link_to format_month(@date.last_month), "javascript:void(0)", :class => "navigation-link", :"data-year" => last_month.year, :"data-month" => last_month.month %>
  &lt;&lt;
  <%= format_month(@date) %>
  <%= hidden_field_tag :current_year, @date.year %>
  <%= hidden_field_tag :current_month, @date.month %>
  &gt;&gt;
  <%= link_to format_month(@date.next_month), "javascript:void(0)", :class => "navigation-link", :"data-year" => next_month.year, :"data-month" => next_month.month %>
</div>

<table class="calendar" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <% 7.times do |i| %>
        <th><%= CalendarStatusItem::DAYNAMES[i] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <% week.each do |day| %>
          <td>
            <%= render :partial => "cell", :locals => { :day => day, :month => @date.month, :user_id => @current_user_id } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
