<div class="navigation">
  <% last_month = @date.advance(:months => -1) # don't remove it because prev_month can return Float in some environment %>
  <% next_month = @date.advance(:months => 1) %>
  <% today = Date.today %>

  &lt;&lt;
  <%= link_to format_month(last_month), "javascript:void(0)", :class => "navigation-link", :"data-year" => last_month.year, :"data-month" => last_month.month %>
  &nbsp;&nbsp;
  <%= format_month(@date) %>
  <%= hidden_field_tag :current_year, @date.year %>
  <%= hidden_field_tag :current_month, @date.month %>
  &nbsp;&nbsp;
  <%= link_to format_month(next_month), "javascript:void(0)", :class => "navigation-link", :"data-year" => next_month.year, :"data-month" => next_month.month %>
  &gt;&gt;
  <% unless @date.year == today.year && @date.month == today.month %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <%= link_to "Today", "javascript:void(0)", :class => "navigation-link", :"data-year" => today.year, :"data-month" => today.month %>
  <% end  %>
</div>

<table class="calendar" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
      <% if @current_user_id != 0 %>
        <th class="worktime-per-week">Worktime per week</th>
        <th class="worktime-per-month">Worktime per month</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @weeks.each_with_index do |week, index| %>
      <tr>
        <% week.each do |day| %>
          <td>
            <%= render :partial => "cell", :locals => { :day => day, :month => @date.month, :user_id => @current_user_id } %>
          </td>
        <% end %>

        <% if @current_user_id != 0 %>
          <td class="worktime-per-week"></td>

          <% if index == 0 %>
            <td rowspan="<%= @weeks.count %>" class="worktime-per-month">
              <div class="current-worktime"></div>
              <div class="total-worktime"></div>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
