<div class="<%= day_status(day, month).join(" ") %> cell" <%= worktime_attribute(day)%> <%= cell_title_attribute(day)%> <%= worktime_progress(day) %> >
    <div class="cell-icon"></div>

    <ul class="status-menu">
      <% if user_id == 0 && User.current.admin? %>
        <% unless day.workday? %>
        <li>
          <%= image_tag "workday.png", :class => "set-workday", :"data-date" => day.date, :title => "Workday", :plugin => 'redmine_studiomobile_calendar' %>
        </li>
        <% end %>
        <% if day.workday? %>
        <li>
          <%= image_tag "weekend.png", :class => "set-weekend", :"data-date" => day.date, :title => "Weekend", :plugin => 'redmine_studiomobile_calendar' %>
        </li>
        <% end %>
      <% end %>
      <% if User.current.id == user_id || User.current.admin? %>
        <% if day.off_day? %>
          <li>
            <%= image_tag "undo.png", :class => "undo", :"data-date" => day.date, :title => "Undo", :plugin => 'redmine_studiomobile_calendar' %>
          </li>
        <% elsif user_id != 0 && day.workday? && day.worktime == 0 %>
          <li>
            <%= image_tag "vacation.png", :class => "set-vacation", :"data-date" => day.date, :title => "Vacation", :plugin => 'redmine_studiomobile_calendar' %>
          </li>
          <li>
            <%= image_tag "sick_leave.png", :class => "set-sick-leave", :"data-date" => day.date, :title => "Sick leave", :plugin => 'redmine_studiomobile_calendar' %>
          </li>
          <li>
            <%= image_tag "leave_without_pay.png", :class => "set-leave-without-pay", :"data-date" => day.date, :title => "Leave without pay", :plugin => 'redmine_studiomobile_calendar' %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="day"><%= day.date.day %></div>
</div>
